.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 15px;
    row-gap: 30px;
}
.thumbnail {
width: 100%;
/*height: 400px;
object-fit: contain;
object-position: center;
border: 2px solid red;
Nested Layouts Technique enable us to determine the number of divs to use.*/
}
.thumbnail-row{
    position: relative;
    z-index: -1;
}
.timer{
    position: absolute;
    bottom: 8px;
    right: 5px;
    background-color: black;
    color: white !important;
    border: none;
    padding: 3px 4px;
    font-weight: 600;
    border-radius: 3px;
}
.search{
display: block;
}
.thumbnail,
.thumbnail1{
object-fit: cover;
width: 100%;
}
.video-info-grid,
.video-info-grid1{
    display: grid;
    grid-template-columns: 36px 1fr;
}
.channel-picture,.channel-picture1,
.video-info,.video-info1{
margin-top:15px;
}
.profile-picture,
.profile-picture1{
width: 90%;
border-radius: 25px;

}
.video-title,
.video-title1{
font-size: 14px;
margin-bottom: 10px;
font-weight: 600;
line-height: 20px;
}
.video-author,
.video-author1{
font-size: 12px;
color: rgb(96, 96, 96);
margin-bottom: 5px;
}
.video-stats,
.video-stats1{
font-size: 12px;
color: rgb(96, 96, 96);
}
@media (max-width: 700px) {
 .video-grid{
    grid-template-columns: 1fr 1fr;
 }
}
@media(min-width: 700px) and (max-width: 999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1000px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }   
}